﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/Site.Master" AutoEventWireup="true" CodeBehind="UserRole.aspx.cs" Inherits="TransportService.pages.UserRole" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Hak Akses Menu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Form Hak Akses Menu
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                        <asp:Button ID="btnNew" runat="server" Text="Tambah" class="btn btn-primary" OnClick="btnNew_Click" />

                        <asp:Panel ID="PanelAddUserRole" runat="server" Width="400px" Height="100%" ScrollBars="Vertical" CssClass="datagrid" Visible="false">
                        <p>
                           <asp:Label ID="lblRole" runat="server" Text="ID Role" Font-Bold="True" style="margin-left:10px"></asp:Label></br>
                           <asp:TextBox ID="txtRoleID" runat="server" Width="100px" CssClass="form-control col-md-3 col-xs-12" style="margin-left:10px"></asp:TextBox>
                        </p>
                        <br /><br />
                        <p>
                           <asp:Label ID="lblRoleNm" runat="server" Text="Nama Role" Font-Bold="True" style="margin-left:10px"></asp:Label></br>
                           <asp:TextBox ID="txtRoleNm" runat="server" Width="200px" CssClass="form-control col-md-3 col-xs-12" style="margin-left:10px"></asp:TextBox>
                           <br /><br />
                           <asp:Button ID="btnSaveUR" runat="server" Text="Simpan"  
                                    style="margin-left: 10px; margin-top: 0px" onclick="btnSaveUR_Click" CssClass="btn btn-success"></asp:Button>
                           <asp:Button ID="btnCancelUR" runat="server" Text="Batal"  
                                    style="margin-left: 0px; margin-top: 0px" onclick="btnCancelUR_Click" CssClass="btn btn-success"></asp:Button>
                        </p>
                        </asp:Panel>
                        <br />

                            <p>
                                <asp:Label ID="lblRoleID" runat="server" Text="ID Role"></asp:Label><br />
                                <asp:DropDownList ID="ddlRoleID" runat="server" Width="400px" Height="30px" 
                                    AutoPostBack="True" onselectedindexchanged="ddlRoleID_SelectedIndexChanged"></asp:DropDownList>
                            </p>
                            </div>
                            <div class="col-lg-12">
                                    Menu Web
                            </div>
                                <div class="col-lg-3">
                                
                                <asp:ListBox ID="LbMenu1" runat="server" Height="300px" Width="200px">
                                </asp:ListBox>
                                </div>
                                <div class="col-lg-3" style="margin-left:-50px;">
                                    &nbsp&nbsp&nbsp&nbsp <asp:Button ID="btnAdd" runat="server" Text="Tambah  >" 
                                        Width="150px" onclick="btnAdd_Click" /><br />
                                    &nbsp&nbsp&nbsp&nbsp <asp:Button ID="btnAddAll" runat="server" 
                                        Text="Tambahkan Semua  >>" Width="150px" onclick="btnAddAll_Click" /><br />
                                    &nbsp&nbsp&nbsp&nbsp <asp:Button ID="btnRemove" runat="server" Text="<  Buang" 
                                        Width="150px" onclick="btnRemove_Click" /><br />
                                    &nbsp&nbsp&nbsp&nbsp <asp:Button ID="btnRemoveAll" runat="server" 
                                        Text="<<  Buang Semua" Width="150px" onclick="btnRemoveAll_Click" /><br />
                                    </div>
                                <div class="col-lg-3" style="margin-left:-60px;">
                                 <asp:ListBox ID="LbMenu2" runat="server" Height="300px" Width="200px">
                                </asp:ListBox>
                                 </div>
                                 <div class="col-lg-3">
                                      <asp:Button ID="ButtonShowModifyRole" runat="server" Text="Edit Menu Leverage" CssClass="myButton" onclick="btnShowModifyRole_Click" />
                                      <br /><br />
                                      <asp:Panel ID="PanelModifyRole" runat="server" ScrollBars="Vertical" CssClass="datagrid">
                                      <asp:Label ID="Label1" runat="server" Text="Set Editing Status :"></asp:Label>
                                      <asp:CheckBoxList ID="blModifyRole" runat="server">
                                      <asp:ListItem Text="Rencana Kunjungan" Value="M0002"></asp:ListItem>
                                      <%--<asp:ListItem Text="Cost" Value="SM0014"></asp:ListItem>--%>
                                      <asp:ListItem Text="Cabang" Value="SM0019"></asp:ListItem>
                                      <asp:ListItem Text="Alasan" Value="SM0025"></asp:ListItem>
                                      <asp:ListItem Text="Berita Harian" Value="SM0013"></asp:ListItem>
                                      <asp:ListItem Text="Konfigurasi Mobile" Value="SM0015"></asp:ListItem>
                                      <asp:ListItem Text="Konfigurasi Pengguna" Value="SM0016"></asp:ListItem>
                                      <asp:ListItem Text="Pengaturan Akun" Value="SM0018"></asp:ListItem>
                                      </asp:CheckBoxList>
                                      </asp:Panel>
                                 </div>                      
                                <div class="col-lg-12">
                                 <br />
                                 <asp:Button ID="btnSave" runat="server" Text="Simpan" CssClass="myButton"  
                                         ValidationGroup="valUser" onclick="btnSave_Click" />
                                 <asp:Button ID="btnCancel" runat="server" Text="Batal" CssClass="myButton" 
                                         onclick="btnCancel_Click"  />
                                 </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentJS" runat="server">
</asp:Content>
